/* Get rid of any margins, set background black, use flexbox to center */
:root {
    --border-color: #3c2013;
}

html, body {
    margin: 0;
    background-color: black;
    height: 100%;
    position: relative;
}

#canvas {
    position: relative;
    image-rendering: pixelated;
    background-color: #111;
}

.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
