/* Get rid of any margins, set background black, use flexbox to center */
html, body {
    margin: 0;
    background-color: black;
    height: 100%;
    position: relative;
}

#canvas {
    transform: scale(4);
    image-rendering: pixelated;
}

.game {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background { 
    position: absolute;
    transform: scale(4);
    inset: 0;
    background: linear-gradient(to right, #000, transparent 10%);
}
